<div class="ui search">
  <!--<div class="ui icon input search-input">-->
      <!--<input class="prompt" type="text" placeholder="">-->
      <!--<i class="search fa fa-search"></i>-->
    <!--</div>-->
  <!--</div>-->


  <div class="form-group form-group-lg has-feedback">
    <div class="input-group">
      <input type="text" class="form-control" id="inputGroupSuccess4" aria-describedby="inputGroupSuccess4Status">
      <span class="input-group-addon">Search</span>
    </div>
  </div>

  <div class="results"></div>
</div>
